<head>
    @await Html.PartialAsync("_headerRibon")
</head>
@await Html.PartialAsync("_header")



<section class="parts" id="parts">


    <div class="parts-container container">

        <div class="row">
            <div class="col-sm-6">
                <img src="~/uploads/@Model.singleImageDTO.ImageName" class="img-fluid border-blue" alt="Responsive image">
            </div>

            @*<h3>Auto Spare Parts</h3>
                <span>Ksh 120.00</span>*@


            <div class="col-sm-6">
                <h3> @Model.vehicleDTO.FullName</h3>
 
                <table class="table-responsive table-striped table-responsive-lg" id="customers" width="100%">
                    <thead>
                        <tr>
                            <th>Make</th>
                            <td>: @Model.vehicleDTO.MakeName</td>
                        </tr>

                        <tr>
                            <th>Model</th>
                            <td>: @Model.vehicleDTO.ModelName</td>
                        </tr>

                        <tr>
                            <th>Kilometres</th>
                            <td>: @Model.vehicleDTO.Kilometres</td>
                        </tr>

                        <tr>
                            <th>Body Type</th>
                            <td>: @Model.vehicleDTO.BodyTypeName</td>
                        </tr>

                        <tr>
                            <th>Style/trim</th>
                            <td>: @Model.vehicleDTO.StyleTrim</td>
                        </tr>

                        <tr>
                            <th>Engine</th>
                            <td>: @Model.vehicleDTO.Engine</td>
                        </tr>

                        <tr>
                            <th>Drivetrain</th>
                            <td>: @Model.vehicleDTO.Drivetrain</td>
                        </tr>

                        <tr>
                            <th>Transmission</th>
                            <td>: @Model.vehicleDTO.Transmission</td>
                        </tr>

                        <tr>
                            <th>Exterior Color</th>
                            <td>: @Model.vehicleDTO.ExteriorColor</td>
                        </tr>

                        <tr>
                  

                        <tr>
                            <th>Interior color</th>
                            <td>: @Model.vehicleDTO.InteriorColor</td>
                        </tr>

                        <tr>
                            <th>Passangers/Doors</th>
                            <td>: @Model.vehicleDTO.Passangers</td>
                        </tr>

                        <tr>
                            <th> Fuel Type</th>
                            <td>: @Model.vehicleDTO.FuelType</td>
                        </tr>

                        <tr>
                            <th> City Fuel Economy</th>
                            <td>: @Model.vehicleDTO.CityFuelEconomy</td>
                        </tr>

                        <tr>
                            <th>Hwy Fuel Economy</th>
                            <td>: @Model.vehicleDTO.HighWayFuelEconomy</td>
                        </tr>




                    </thead>
                </table>
            </div>


        </div>
    </div>


</section>
<div class="container mt-2 mb-2">
    <div class="row">


        @if (Model.imageDTO != null)
        {
            foreach (var item in Model.imageDTO)
            {

                <div class="col-sm-3">
                    <img src="~/uploads/@item.ImageName" class="img-fluid" alt="Responsive image">


                </div>


            }
        }








    </div>

</div>












@await Html.PartialAsync("_footer")

