@model CarMatt.Data.DTOs.VehicleModule.CombinedDTO
@{
    ViewData["Title"] = "ViewInformation";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<div class="x_panel">
    <div class="x_title">
        <h2 class="Header">@Model.vehicleDTO.MakeName @Model.vehicleDTO.ModelName @Model.vehicleDTO.StyleTrim  @Model.vehicleDTO.YearOfProduction </h2>

        <div class="clearfix"></div>
    </div>
    <div class="x_content">



        <div class="col-md-7 col-sm-7 ">
            <div class="product-image">
                <img src="~/uploads/@Model.singleImageDTO.ImageName" alt="..." style="width: 90%; margin-top: 3em; height: 30em; ">
            </div>
            <div class="product_gallery ">


                @if (Model.imageDTO != null)
                {
                    foreach (var item in Model.imageDTO)
                    {
                        <a>
                            <img src="~/uploads/@item.ImageName" alt="..." style="width: 100%; margin-top: 9px; height: 6em; ">
                        </a>
                    }
                }



            </div>
        </div>

        <div class="col-md-5 col-sm-5 " style="border:0px solid #e5e5e5;">

            <h3 class="prod_title Header">DESCRIPTION</h3>

            <table class="table-responsive table-striped table-responsive-lg">
                <thead>
                    <tr>
                        <th>Make</th>
                        <td style="color: maroon; font-weight: bold;">: @Model.vehicleDTO.MakeName</td>
                    </tr>

                    <tr>
                        <th>Model</th>
                        <td style="color: maroon; font-weight: bold;">: @Model.vehicleDTO.ModelName</td>
                    </tr>

                    <tr>
                        <th>Kilometres</th>
                        <td style="color: maroon; font-weight: bold;">: @Model.vehicleDTO.Kilometres</td>
                    </tr>

                    <tr>
                        <th>Body Type</th>
                        <td style="color: maroon; font-weight: bold;">: @Model.vehicleDTO.BodyTypeName</td>
                    </tr>

                    <tr>
                        <th>Style/trim</th>
                        <td style="color: maroon; font-weight: bold;">: @Model.vehicleDTO.StyleTrim</td>
                    </tr>

                    <tr>
                        <th>Engine</th>
                        <td style="color: maroon; font-weight: bold;">: @Model.vehicleDTO.Engine</td>
                    </tr>

                    <tr>
                        <th>Drivetrain</th>
                        <td style="color: maroon; font-weight: bold;">: @Model.vehicleDTO.Drivetrain</td>
                    </tr>

                    <tr>
                        <th>Transmission</th>
                        <td style="color: maroon; font-weight: bold;">: @Model.vehicleDTO.Transmission</td>
                    </tr>

                    <tr>
                        <th>Exterior Color</th>
                        <td style="color: maroon; font-weight: bold;">: @Model.vehicleDTO.ExteriorColor</td>
                    </tr>


                    <tr>
                        <th>Interior color</th>
                        <td style="color: maroon; font-weight: bold;">: @Model.vehicleDTO.InteriorColor</td>
                    </tr>

                    <tr>
                        <th>Doors/Doors</th>
                        <td style="color: maroon; font-weight: bold;">: @Model.vehicleDTO.Doors</td>
                    </tr>

                    <tr>
                        <th> Fuel Type</th>
                        <td style="color: maroon; font-weight: bold;">: @Model.vehicleDTO.FuelType</td>
                    </tr>

                    <tr>
                        <th>City Fuel Economy</th>
                        <td style="color: maroon; font-weight: bold;">: @Model.vehicleDTO.CityFuelEconomy</td>
                    </tr>

                    <tr>
                        <th>Hwy Fuel Economy</th>
                        <td style="color: maroon; font-weight: bold;">: @Model.vehicleDTO.HighWayFuelEconomy</td>
                    </tr>

                    <tr>
                        <th>Quantity</th>
                        <td style="color:maroon; font-weight:bold;">: @Model.vehicleDTO.Quantity</td>
                    </tr>

                </thead>
            </table>



            <br>

            <div class="">
                <div class="product_price">
                    <h1 class="price">@Model.vehicleDTO.Price Ksh</h1>
                    @*<span class="price-tax">Ex Tax: Ksh80.00</span>*@
                    <br>
                </div>
            </div>
            <input type="hidden" id="txtId" value="@Model.vehicleDTO.Id" />
            <div class="">

                <button type="button" class="btn btn-danger btn-lg pull-right" onclick="Delete()">Delete This Car</button>
            </div>


        </div>



    </div>
</div>

<style>
    .Header {
        font-weight: 600;
        color: #45ca9f;
        font-size: 1.1rem;
        max-width: calc(100% - 40px);
    }

    .geeks {
        overflow: hidden;
        margin: 0 auto;
    }

        .geeks img {
            width: 100%;
            transition: 0.5s all ease-in-out;
        }

        .geeks:hover img {
            transform: scale(1.5);
        }
</style>


<div id="divLoader" style="display:none;" class="loader">

    <img src="~/loaders/loading-23.gif" alt="Loader" style="width:20em;" />

</div>
<script src="~/Scripts/jquery-3.5.1.js"></script>
<link href="~/sweetalart/sweetalert.min.css" rel="stylesheet" />
<script src="~/sweetalart/sweetalert.min.js"></script>

<script>


    function Delete() {

        $("#divLoader").show();

        var getid = document.getElementById("txtId").value;
             
        var id = getid;

        swal(

            {
                title: "Are you sure?",

                text: "Once deleted, you will not be able to recover this  file!",

                type: "success",

                showCancelButton: true,

                confirmButtonColor: "##62b76e",

                confirmButtonText: "Yes, Procceed!",

                closeOnConfirm: false
            },

            function () {

                $.ajax({

                    type: "GET",

                    url: "/Administrator/Cars/Delete/" + id,

                    success: function (response) {

                        if (response.success) {

                            swal({

                                position: 'top-end',

                                type: "success",

                                title: response.responseText,

                                showConfirmButton: false,

                                // timer: 2000,

                            });

                            setTimeout(function () { window.location = "/Administrator/Cars/"; }, 3000);

                        }

                        else {
                            swal({
                                position: 'top-end',
                                type: "error",
                                title: response.responseText,
                                showConfirmButton: true,
                                timer: 5000,
                            });
                            $("#divLoader").hide();
                        }

                    },
                    error: function (response) {
                        swal({
                            position: 'top-end',
                            type: "error",
                            title: "Server error ,kindly contact the admin for assistance",
                            showConfirmButton: false,
                            timer: 5000,
                        });

                    }

                })

            }
        );
    }
</script>


